<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit text-center">
  <h1><i class="icon-th-large" style="padding-right: 50px; padding-top: 10px"></i> StatusApp</h1>
  <br>
  <p class="lead">Verifique a situação do seu site de modo fácil e prático. Você só precisa se cadastrar, adicionar seu site e nós fazemos o resto.</p>
</div>

<div class="row-fluid" style="padding-bottom: 30px;">
  <div class="span12 text-center">
    <h2>Veja como funciona. São 3 passos simples:</h2>
  </div>
</div>

<div class="row-fluid">
  <div class="span4 well text-center">
    <p><i class="icon-child big_icons_yellow"></i></p>
    <h2>1º: O cadastro</h2>
    <p>Você só precisa preencher um cadastro bem pequeno.</p>
    <p>
      <%= link_to new_user_registration_path, class: 'btn' do %>
        Criar minha conta &raquo;
      <% end %>
    </p>
  </div>
  <div class="span4 well text-center">
    <i class="icon-plus big_icons_blue"></i>
    <h2>2º: Adicione seu site</h2>
    <p style="padding-bottom: 40px;">Coloque um nome descritivo e a url do seu site.</p>
 </div>
  <div class="span4 well text-center">
    <i class="icon-cogs big_icons_green"></i>
    <h2>3º: Isso é com a gente</h2>
    <p style="padding-bottom: 20px;">De 5 em 5 minutos, nós verificamos qual o status e o tempo de resposta de seu site.</p>
  </div>
</div>

<hr>

<div class="row-fluid" style="padding-bottom: 30px;">
  <div class="span12 text-center">
    <h2>Não perca mais tempo, cadastre-se agora.. É grátis!</h2>
    <p>
    	<%= link_to new_user_registration_path, class: 'btn btn-large btn-primary' do %>
    		<i class="icon-torso" style="padding-top: 2px;"></i> &nbsp; Quero me cadastrar
    	<% end %>
    </p>
  </div>
</div>